
<div>
<h3>RSVP Info</h3>	
	<%- if @rsvp_button_flag %>
		<%= form_tag ('/events/rsvp') do %>
		<%= hidden_field_tag :hid_eid ,params[:eid] %>
		<%= hidden_field_tag :hid_etitle ,@event_title %>
		<%= hidden_field_tag :hid_calName  ,@cal_title %>
		<%= hidden_field_tag :hid_calendar_id ,params[:calendar_id] %>
		  <%= submit_tag "Event RSVP"  %>
		<% end %>
	<% else %>
		<%= submit_tag "Event RSVP",disabled: true%>
			<%= form_tag ('/events/rsvp') do %>
			<%= hidden_field_tag :hid_eid ,params[:eid] %>
			<%= hidden_field_tag :hid_etitle ,@event_title %>
			<%= hidden_field_tag :hid_calName  ,@cal_title %>
			<%= hidden_field_tag :hid_calendar_id ,params[:calendar_id] %>
			  <%= submit_tag "Un-RSVP"  %>
			<% end %>
	<% end %>
</div>

<div>
	<%- if !@user_names.nil? %>
	<h4>RSVP'd User list</h4>
		<% @user_names.each do |user| %>
			<p><%= user.user_name %></p>
		<% end %>
	<% else %>
	<h4>No Users RSVP'd</h4>
	<% end %>
</div>

