<!DOCTYPE html>
<html>
<head>
  <title>My Wolfpack Guide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if request.original_url!='http://0.0.0.0:3000'+root_path %>
<!-- Prevents nav to show up on landing page -->
<% if !session[:uid].nil? %>
	<% if User.find(session[:uid]).user_type=='A' %>
			<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
			<a class="navbar-brand" href="#">MyWolfPackGuide</a>
			</div>
			<div>
			<ul class="nav navbar-nav navbar-left">

			<li <% if request.original_url=='http://0.0.0.0:3000'+admin_home_path %> class="active" <% end %> ><a href=<%= admin_home_path %>>Home Page</a></li>
			<li<% if request.original_url=='http://0.0.0.0:3000'+flyers_show_path %> class="active" <% end %>><a href=<%= flyers_show_path %>>View Flyers</a></li>
			<li <% if request.original_url=='http://0.0.0.0:3000'+flyers_new_path %> class="active" <% end %>><a href=<%= flyers_new_path %>>Add Flyers</a></li>	

			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a href=<%= users_logout_path %>>Logout</a></li>
			</ul>
			</div>
			</nav>
		<% else %>
			<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
			<a class="navbar-brand" href="#">MyWolfPackGuide</a>
			</div>
			<div>
			<ul class="nav navbar-nav navbar-left">

			<li <% if request.original_url=='http://0.0.0.0:3000'+home_page_path %> class="active" <% end %>><a href=<%= home_page_path %>>Home Page</a></li>

			<li <% if request.original_url=='http://0.0.0.0:3000'+users_edituser_path %> class="active" <% end %>><a href=<%= users_edituser_path %>>Edit Profile</a></li>

			<li <% if request.original_url=='http://0.0.0.0:3000'+events_rsvp_events_path %> class="active" <% end %>><a href=<%= events_rsvp_events_path %>>RSVP Events</a></li>

			<li <% if request.original_url=='http://0.0.0.0:3000'+flyers_show_path %> class="active" <% end %>><a href=<%= flyers_show_path %>>Flyer View</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a href=<%= users_logout_path %>>Logout</a></li>
			</ul>
			</div>
			</nav>
		<% end %>
	<% end %>

<% end %>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<%= yield %>

</body>
</html>
